<div class="row">
  <div class = "btns">
  <button class="btn  btn-info" [class.active]="filterBy=='all'" (click)="filterBy='all'">ALL</button>&nbsp;
  <button class="btn  btn-info" [class.active]="filterBy=='boats'" (click)="filterBy='boats'">BOATS</button>&nbsp;
  <button class="btn  btn-info" [class.active]="filterBy=='camping'" (click)="filterBy='camping'">CAMPING</button>&nbsp;
  <button class="btn  btn-info" [class.active]="filterBy=='library'" (click)="filterBy='library'">LIBRARY</button>
 </div>
  
<ul>
    <li *ngFor = "let img of (images | imageFilter:filterBy)">
     <a [routerLink]="['/image',img.id]"> <img src = "{{img.url}}" class = "tn" height="160px" width="160px"/></a>
  </li>
</ul>
</div>